@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenid@s al Sistema de Facturación</h1>
    <p>Sistema construido con ASP.NET, SQL Server y Entity Framework</p>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary m-2" href="/Usuario">Usuarios</a>
    <a class="btn btn-primary m-2"  href="/Categoria">Categorias</a>
	<a class="btn btn-primary m-2" href="/Producto">Productos</a>
    <a class="btn btn-primary m-2" href="/Gasto">Gastos</a>
	<a class="btn btn-primary m-2" href="/Moneda">Moneda</a>
</div>