@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenid@s al Sistema de Facturación</h1>
    <p>Sistema construido con ASP.NET, SQL Server y Entity Framework</p>
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Usuario">Usuarios</a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Categoria">Categorias</a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Presupuesto">Presupuestos</a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Gasto">Gastos</a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Moneda">Moneda</a>
</div>
<div class="text-center mt-4">
    <a class="btn btn-primary m-2 btn-custom-size" href="/Home/Privacy">Politica de Privacidad</a>
</div>
